PORT=3000
DB_HOST=acela.proxy.rlwy.net
DB_PORT=10650
DB_USERNAME=postgres
DB_PASSWORD=IcoeAEWmoPBNvTFAfuVboUAdtIJIqVPm
DB_NAME=railway

DEFAULT_PASSWORD=hola123

# JWT
JWT_TOKEN=S1S257_1nf0
JWT_TOKEN_EXPIRATION=60s

postgresql://postgres:IcoeAEWmoPBNvTFAfuVboUAdtIJIqVPm@acela.proxy.rlwy.net:10650/railway